In [1]:
import pandas as pd
import pulp

In [2]:
# Step 1: Load and Prepare Data
# ----------------------------
df = pd.read_csv('players.csv')
df

,Player ID,Name,Role,Overseas,Batting Average,Strike Rate,Bowling Economy,Wickets,Catches,Composite Score
0,1,Shreyas Iyer,Batsman,No,32.613545,134.027646,NaN,NaN,111.0,78.715066
1,2,Nehal Wadhera,Batsman,No,24.960000,134.800000,NaN,NaN,10.0,54.920000
2,3,Harnoor Singh,Batsman,No,10.000000,89.280000,NaN,NaN,1.0,31.984000
3,4,Pyla Avinash,Batsman,No,20.250000,117.390000,NaN,NaN,2.0,45.742000
4,5,Shashank Singh,Batsman,No,24.080000,143.030000,NaN,NaN,22.0,59.349000
5,6,Vishnu Vinod,Wicket-Keeper,No,31.150000,142.230000,NaN,NaN,26.0,51.306000
6,7,Prabhsimran Singh,Wicket-Keeper,No,31.220000,145.760000,NaN,NaN,32.0,54.440000
7,8,Josh Inglis,Wicket-Keeper,Yes,30.416650,149.523111,NaN,NaN,112.0,86.871282
8,9,Arshdeep Singh,Bowler,No,NaN,NaN,8.414650,306.0,52.0,192.317070
9,10,Yuzvendra Chahal,Bowler,No,NaN,NaN,7.756945,460.0,84.0,291.248611
10,11,Vijaykumar Vyshak,Bowler,No,NaN,NaN,8.620000,47.0,8.0,28.076000
11,12,Yash Thakur,Bowler,No,NaN,NaN,8.110000,87.0,15.0,53.578000
12,13,Kuldeep Sen,Bowler,No,NaN,NaN,8.930000,32.0,6.0,18.614000
13,14,Praveen Dubey,Bowler,No,NaN,NaN,7.170000,24.0,15.0,15.966000
14,15,Lockie Ferguson,Bowler,Yes,NaN,NaN,7.578402,277.0,61.0,176.884320
15,16,Xavier Bartlett,Bowler,Yes,NaN,NaN,8.215714,91.0,35.0,59.956857
16,17,Harpreet Brar,All-Rounder,No,16.520000,125.410000,7.290000,77.0,25.0,50.312500
17,18,Priyansh Arya,All-Rounder,No,33.700000,166.560000,2.000000,1.0,6.0,34.709000
18,19,Musheer Khan,All-Rounder,No,NaN,NaN,NaN,NaN,NaN,NaN
19,20,Suryansh Shedge,All-Rounder,No,43.660000,251.920000,9.270000,8.0,4.0,50.976000
20,21,Marcus Stoinis,All-Rounder,Yes,30.321307,139.003623,8.931025,203.0,100.0,108.437768
21,22,Glenn Maxwell,All-Rounder,Yes,28.471730,154.660816,7.852143,217.0,286.0,151.831841
22,23,Marco Jansen,All-Rounder,Yes,20.631309,141.556728,8.189415,128.0,63.0,76.572395
23,24,Azmatullah Omarzai,All-Rounder,Yes,17.322374,125.268432,8.272075,137.0,53.0,73.993651
24,25,Aaron Hardie,All-Rounder,Yes,25.674496,130.598852,8.611691,51.0,43.0,49.047283

In [3]:
# Drop rows with missing composite scores (e.g., Musheer Khan)
df = df.dropna(subset=['Composite Score'])

In [4]:
# Convert data types
df['Player ID'] = df['Player ID'].astype(int)
df['Composite Score'] = df['Composite Score'].astype(float)

C:\Users\BILAL\AppData\Local\Temp\ipykernel_13532\2510840357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Player ID'] = df['Player ID'].astype(int)
C:\Users\BILAL\AppData\Local\Temp\ipykernel_13532\2510840357.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Composite Score'] = df['Composite Score'].astype(float)

In [5]:
# Create a binary flag for Overseas (1 if Yes, 0 if No)
df['OverseasFlag'] = df['Overseas'].apply(lambda x: 1 if x.strip().lower() == 'yes' else 0)

C:\Users\BILAL\AppData\Local\Temp\ipykernel_13532\1680432684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['OverseasFlag'] = df['Overseas'].apply(lambda x: 1 if x.strip().lower() == 'yes' else 0)

In [6]:
# Create binary flags for roles based on the Role column
df['IsWicketkeeper'] = (df['Role'].str.strip().str.lower() == 'wicket-keeper').astype(int)
df['IsBatsman']     = (df['Role'].str.strip().str.lower() == 'batsman').astype(int)
df['IsBowler']      = (df['Role'].str.strip().str.lower() == 'bowler').astype(int)
df['IsAllrounder']  = (df['Role'].str.strip().str.lower() == 'all-rounder').astype(int)

C:\Users\BILAL\AppData\Local\Temp\ipykernel_13532\1703518403.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsWicketkeeper'] = (df['Role'].str.strip().str.lower() == 'wicket-keeper').astype(int)
C:\Users\BILAL\AppData\Local\Temp\ipykernel_13532\1703518403.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsBatsman']     = (df['Role'].str.strip().str.lower() == 'batsman').astype(int)
C:\Users\BILAL\AppData\Local\Temp\ipykernel_13532\1703518403.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsBowler']      = (df['Role'].str.strip().str.lower() == 'bowler').astype(int)
C:\Users\BILAL\AppData\Local\Temp\ipykernel_13532\1703518403.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IsAllrounder']  = (df['Role'].str.strip().str.lower() == 'all-rounder').astype(int)

In [7]:
# ----------------------------
# Step 2: Create Dictionaries for Model Data
# ----------------------------
scores = dict(zip(df['Player ID'], df['Composite Score']))
overseas = dict(zip(df['Player ID'], df['OverseasFlag']))
wicketkeeper = dict(zip(df['Player ID'], df['IsWicketkeeper']))
batsman = dict(zip(df['Player ID'], df['IsBatsman']))
bowler = dict(zip(df['Player ID'], df['IsBowler']))
allrounder = dict(zip(df['Player ID'], df['IsAllrounder']))

players = list(df['Player ID'])

In [8]:
# ----------------------------
# Step 3: Define the Optimization Model
# ----------------------------
# Create a maximization problem
model = pulp.LpProblem("Select_Playing_XI", pulp.LpMaximize)

# Decision variables: x[i] = 1 if player i is selected, else 0
x = pulp.LpVariable.dicts('x', players, lowBound=0, upBound=1, cat=pulp.LpBinary)

# Objective Function: Maximize total composite score
model += pulp.lpSum([scores[i] * x[i] for i in players]), "Total_Composite_Score"

# Constraint 1: Exactly 11 players must be selected
model += pulp.lpSum([x[i] for i in players]) == 11, "Total_Players"

# Constraint 2: Exactly 4 overseas players
model += pulp.lpSum([overseas[i] * x[i] for i in players]) == 4, "Overseas_Players"

# Constraint 3: At least 1 wicketkeeper
model += pulp.lpSum([wicketkeeper[i] * x[i] for i in players]) >= 1, "AtLeastOne_Wicketkeeper"

# Constraint 4: At least 3 batsmen
model += pulp.lpSum([batsman[i] * x[i] for i in players]) >= 3, "AtLeastThree_Batsmen"

# Constraint 5: At least 3 bowlers
model += pulp.lpSum([bowler[i] * x[i] for i in players]) >= 3, "AtLeastThree_Bowlers"

# Constraint 6: At least 1 all-rounder
model += pulp.lpSum([allrounder[i] * x[i] for i in players]) >= 1, "AtLeastOne_Allrounder"

In [9]:
# ----------------------------
# Step 4: Solve the Model
# ----------------------------
model.solve()

1

In [10]:
# ----------------------------
# Step 5: Retrieve and Display the Solution
# ----------------------------
selected_players = [i for i in players if pulp.value(x[i]) == 1]
print("Selected Player IDs:", selected_players)
# Display detailed info for selected players by merging with the original dataframe
selected_df = df[df['Player ID'].isin(selected_players)]
print(selected_df)

Selected Player IDs: [1, 2, 5, 7, 8, 9, 10, 12, 15, 21, 22]
    Player ID               Name           Role Overseas  Batting Average  \
0           1       Shreyas Iyer        Batsman       No        32.613545
1           2      Nehal Wadhera        Batsman       No        24.960000
4           5     Shashank Singh        Batsman       No        24.080000
6           7  Prabhsimran Singh  Wicket-Keeper       No        31.220000
7           8        Josh Inglis  Wicket-Keeper      Yes        30.416650
8           9     Arshdeep Singh         Bowler       No              NaN
9          10   Yuzvendra Chahal         Bowler       No              NaN
11         12       Yash Thakur          Bowler       No              NaN
14         15    Lockie Ferguson         Bowler      Yes              NaN
20         21     Marcus Stoinis    All-Rounder      Yes        30.321307
21         22      Glenn Maxwell    All-Rounder      Yes        28.471730

    Strike Rate  Bowling Economy  Wickets  Catches  Composite Score  \
0    134.027646              NaN      NaN    111.0        78.715066
1    134.800000              NaN      NaN     10.0        54.920000
4    143.030000              NaN      NaN     22.0        59.349000
6    145.760000              NaN      NaN     32.0        54.440000
7    149.523111              NaN      NaN    112.0        86.871282
8           NaN         8.414650    306.0     52.0       192.317070
9           NaN         7.756945    460.0     84.0       291.248611
11          NaN         8.110000     87.0     15.0        53.578000
14          NaN         7.578402    277.0     61.0       176.884320
20   139.003623         8.931025    203.0    100.0       108.437768
21   154.660816         7.852143    217.0    286.0       151.831841

    OverseasFlag  IsWicketkeeper  IsBatsman  IsBowler  IsAllrounder
0              0               0          1         0             0
1              0               0          1         0             0
4              0               0          1         0             0
6              0               1          0         0             0
7              1               1          0         0             0
8              0               0          0         1             0
9              0               0          0         1             0
11             0               0          0         1             0
14             1               0          0         1             0
20             1               0          0         0             1
21             1               0          0         0             1